:host {
    display: flex;
    align-content: start;
    justify-content: center;
    border-color: black;

    div {
        input {
            ::placeholder {
                color: gray
            };
        }
    }
}